@import '@radix-ui/colors/purple.css';
@import '@radix-ui/colors/purple-alpha.css';
@import '@radix-ui/colors/gray-alpha.css';

.accentButton {
  background-color: var(--purple-9);
  border-color: var(--purple-a3);
}

.iconButton {
  color: var(--gray-a11);
  background-color: white;
}